.account-registration {
  background-color: $color-basic-blue;

  .account-registration__heading {
    color: $color-special-orange;
    font-size: 24px;
    line-height: 24px;
  }

  .account-registration__heading,
  .account-registration__desc,
  .account-registration__link,
  .account-registration__input {
    margin: 0;
    padding: 0;
  }

  .account-registration__heading,
  .account-registration__input {
    font-family: $font-bold;
  }

  .account-registration__desc {
    color: $color-white;
  }

  .account-registration__link {
    color: $color-yellow;
  }

  .account-registration__input {
    background-color: $color-white;
    //opacity: 0.3;
    border: none;
    outline: none;
  }

  .account-registration__submit {
    background-color: $color-yellow;
    width: 60px;
    height: 62px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
