.company-contacts {
  @include corner-radius();
  background-color: $color-basic-blue;

  .user-list__link {
    color: $color-yellow;
    text-decoration: none;
  }

  .company-contacts__user-list,
  .company-contacts__adress {
    @include indents();
  }

  .company-contacts__content {
    @include corner-radius();
    background-color: $color-yellow;
  }

  .company-contacts__adress {
    color: $color-basic-blue-lighter;
    font-family: $font-bold;
    text-transform: uppercase;
    font-style: normal;
  }

  .company-contacts__button-base {
    padding-right: 77px;
  }
}
