.directions {
  background-color: $color-basic-blue-grey;

  .directions__heading,
  .directions__desc,
  .directions__list,
  .directions__subtitle,
  .directions__slogan,
  .directions__counter-users {
    margin: 0;
    padding: 0;
  }

  .directions__heading {
    color: $color-special-orange;
    font-family: $font-bold;
    font-size: 24px;
    line-height: 24px;
  }

  .directions__subtitle {
    color: $color-black;
    font-family: $font-bold;
    font-size: 21px;
    line-height: 21px;
  }

  .directions__slogan {
    font-family: $font-medium;
    line-height: 18px;
    opacity: 0.3;
  }

  .directions__counter-users {
    color: $color-basic-blue-darkest;
    font-family: $font-medium;
    line-height: 20px;
    opacity: 0.3;
  }

  .directions__button-open-all {
    min-width: 270px;
    position: relative;
  }
}
