.plan-program {
  margin: 0;
  padding: 0;
  color: $color-basic-blue;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;

  .plan-program__item:first-child {
    background-color: $color-special-orange;
  }

  .plan-program__item:nth-child(2) {
    background-color: $color-special-orange-lighter;
  }

  .plan-program__item {
    background-color: $color-yellow-darker;
  }

  .plan-program__item:last-child {
    background-color: $color-yellow;
  }
}
