.price-plan {
  background-color: $color-basic-blue-grey;

  .price-plan__link {
    margin: 0;
    padding: 0;
    color: $color-basic-blue-lightest;
    font-family: $font-bold;
    line-height: 16px;
    text-decoration: none;
  }
}
