.service-description {
  @include corner-radius();
  background-color: $color-basic-blue;
  margin-bottom: 85px;

  .service-description__heading {
    color: $color-special-orange;
    font-family: $font-bold;
    font-size: 24px;
    line-height: 24px;
  }

  .service-description__heading,
  .service-description__desc {
    @include indents();
  }

  .service-description__desc {
    color: $color-white;
  }
}
