.service-description {
  border-radius: 0 0 30px 30px;
  position: relative;
  top: -1px;
  margin-bottom: -30px;
  padding-top: 31px;
  padding-right: 48px;
  padding-bottom: 83px;
  padding-left: 48px;
  background-color: $color-basic-blue;
  color: $color-white;
  background-image: url("../../../../img/about-us-mobile-index.png");
  background-size: 292px 353px;
  background-position: 21px top;
  background-repeat: no-repeat;
  z-index: 6;
}

.service-description__content {
  position: relative;
}

.service-description__heading {
  font-family: $font-bold;
  margin: 0 0 19px 0;
  font-size: 24px;
  line-height: 1;
  color: $color-special-orange;
}

.service-description__desc {
  margin-top: 0;
  margin-bottom: 20px;
  color: $color-white;

  br {
    display: none;
  }
}

.service-description__tagline {
  margin: 0;
  font-family: $font-bold;
}

@media (max-width: $mobile-width-only) {
  .service-description__button-base {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .service-description {
    overflow: hidden;
    padding-bottom: 89px;
    padding-top: 37px;
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      border-radius: 20px;
      height: 212px;
      width: 90%;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      background-color: $color-special-blue-dark;
    }

    &::after {
      content: "";
      position: absolute;
      height: 548px;
      width: 376px;
      top: 48px;
      left: 50%;
      background-image: url("../../../../img/about-us-tablet-index.png");
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .service-description__content {
    padding-left: 34px;
    padding-right: 34px;
  }

  .service-description__heading {
    margin-bottom: 40px;
    line-height: 1;
    font-size: 45px;
  }

  .service-description__desc {
    width: 50%;
    margin-bottom: 31px;
    font-size: 28px;
    line-height: 33px;

    br {
      display: block;
    }
  }

  .service-description__tagline {
    width: 50%;
    margin-bottom: 55px;
    font-size: 21px;
    line-height: 25px;
  }

  .service-description__button-base {
    border-radius: 20px;
    height: 80px;
    width: 276px;
  }
}

@media (min-width: $desktop-width) {
  .service-description {
    padding-bottom: 163px;
    padding-top: 130px;

    &::before,
    &::after {
      display: none;
    }
  }

  .service-description__content {
    position: relative;
    padding-left: 70px;
    padding-right: 70px;

    @include central-location();
    padding-top: 58px;

    &::before {
      content: "";
      position: absolute;
      border-radius: 20px;
      height: 212px;
      width: 212px;
      top: 0;
      left: 0;
      background-color: $color-special-blue-dark;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      height: 665px;
      width: 630px;
      top: 15px;
      right: 0;
      left: auto;
      background-image: url("../../../../img/about-us-desktop-index.png");
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 0;
    }
  }

  .service-description__heading {
    position: relative;
    margin-bottom: 58px;
  }

  .service-description__desc {
    width: 52%;
    position: relative;
    margin-bottom: 39px;
    line-height: 34px;

    br {
      display: none;
    }
  }

  .service-description__tagline {
    width: 40%;
    margin-bottom: 87px;
    line-height: 24px;
  }

  .service-description__button-base {
    width: 274px;
  }
}
