.media-hide-tablet {
  visibility: visible;
}

@media (min-width: $tablet-width) {
  .media-hide-tablet {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .media-hide-desktop {
    display: none;
  }
}
