@mixin central-location($width: $desktop-contents-width) {
  width: $width;
  margin: 0 auto;
}

@mixin container() {
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 5.2%;
    padding-right: 5.2%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin bounded-container() {
  padding-left: 9.26%;
  padding-right: 9.26%;

  @media (min-width: $tablet-width) {
    padding-left: 5.08%;
    padding-right: 5.08%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@mixin form-container() {
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 9.77%;
    padding-right: 9.77%;
  }

  @media (min-width: $desktop-width) {
    @include central-location();
    padding: 0;
  }
}
