$main-layout-space: 25px;

@mixin main-block-bottom() {
  padding: 60px $main-layout-space 35px $main-layout-space;
  border-radius: 0 0 30px 30px;
}

@mixin main-block-top() {
  padding: 30px $main-layout-space 19px $main-layout-space;
  border-radius: 30px 30px 0 0;
}

@mixin form-block() {
  padding: 30px $main-layout-space 30px $main-layout-space;
  border-radius: 30px;
}

@mixin form-block-child() {
  padding: 20px $main-layout-space $main-layout-space $main-layout-space;
  border-radius: 10px;
}

@mixin catalog-block() {
  padding: 21px $main-layout-space 46px $main-layout-space;
  border-radius: 0;
}

@mixin catalog-dropdown-filter() {
  padding: $main-layout-space $main-layout-space 30px $main-layout-space;
  border-radius: 0 0 20px 20px;
}

@mixin catalog-block-filter() {
  padding: $main-layout-space 25px 20px 22px 20px;
  border-radius: 20px;
}

@mixin catalog-country-filter() {
  padding: $main-layout-space 0 20px 0;
  border-radius: 0 0 50px 50px;
}

@mixin catalog-block-child() {
  padding: 15px 15px 23px 15px;
  border-radius: 20px;
}
