.fellow-travelers {
  @include catalog-block();
}

.fellow-travelers-filter {
  @include catalog-dropdown-filter();
  color: $color-basic-blue;
  background-color: $color-basic-blue-grey-lighter;

  .fellow-travelers-filter__country {
    @include catalog-country-filter();
    background-color: $color-basic-blue-grey-lighter;

    .fellow-travelers-filter__heading {
      @include indents();
      line-height: 18px;
      font-family: $font-bold;
      font-size: inherit;
      text-transform: uppercase;
    }
  }

  .fellow-travelers-filter__list {
    @include indents();
  }
}
