.alphabet-sorting {
  @include indents();

  .alphabet-sorting__meaning {
    @include indents();
    font-family: inherit;
    outline: none;
    width: 44px;
    height: 41px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: $color-basic-blue-lighter;
    text-transform: uppercase;
    text-align: center;
    background-color: $color-white;
    border: 1px solid $color-basic-blue-grey-darkest;

    &:hover {
      outline: none;
      border-color: $color-basic-blue-grey-blue;
    }

    &:active,
    &:focus {
      color: $color-white;
      background-color: $color-basic-blue-lighter;
      border-color: $color-basic-blue-lighter;
    }

    &.alphabet-sorting__meaning--active {
      color: $color-white;
      background-color: $color-basic-blue-lighter;
      border: none;
    }
  }
}
