.entertainment-schedule {
  .entertainment-schedule__country-name {
    font-family: $font-medium;
    font-size: 18px;
  }

  .entertainment-schedule__text {
    &::placeholder {
      font-size: 16px;
      color: $color-special-grey;
    }
  }
}
