.form-case-country {
  .form-case-country__input {
    color: $color-basic-blue-lighter;
    border: 1px solid $color-basic-blue-grey-darkest;
  }

  .form-case-country__input,
  .form-case-alphabet-dropdown__input {
    font-family: $font-medium;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    outline: none;
  }

  .form-case-alphabet-dropdown__input {
    background-color: $color-basic-blue-lighter;
    border: none;

    &::placeholder {
      color: $color-white;
    }
  }
}
