.contacts-company-menu {
  display: none;

  .contacts-company-menu__item {
    display: block;
    width: 40px;
    height: 40px;
  }

  .contacts-company-menu__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $color-yellow-darker;
    transition: background-color 0.15s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url("../../../../img/icon-call.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 18px 18px;
      pointer-events: none;
    }

    &:hover {
      background-color: $color-special-orange-dark;
    }

    &.contacts-company-menu__link--phone {
      background-color: $color-special-orange;

      &::before {
        background-position: 50% 53%;
        background-size: 18px 18px;
      }

      &:hover {
        background-color: $color-special-orange-darker;
      }
    }

    &.contacts-company-menu__link--email {
      &::before {
        background-image: url("../../../../img/icon-mail.svg");
        background-size: 18px 16px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts-company-menu {
    display: flex;
    width: 188px;
    margin-top: -94px;
    justify-self: right;

    .contacts-company-menu__item {
      display: none;
    }

    .contacts-company-menu__link {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts-company-menu {
    margin: 0;
    width: 288px;

    .contacts-company-menu__item {
      display: block;
      width: 50px;
      height: 50px;
    }

    .contacts-company-menu__link {
      display: block;

      &:hover {
        background-color: $color-special-orange-darker;
      }

      &:active {
        &::before {
          opacity: 0.3;
        }
      }

      &.contacts-company-menu__link--phone {
        &::before {
          background-position: 50% 53%;
        }
      }

      &.contacts-company-menu__link--email {
        &::before {
          background-size: 16px 14px;
        }
      }
    }
  }
}
