.copyright {
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-decoration: none;
  color: inherit;
  border-top: 1px solid $color-basic-blue-grey-light;
  padding-top: 13px;

  &:hover {
    opacity: 0.6;
    text-decoration: none;
    color: inherit;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  .copyright__desc {
    padding-top: 5px;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    border-top: none;
    width: 154px;
    padding-top: 3px;
    line-height: 1;
    font-size: $tablet-size-font-smaller;
  }

  .copyright__desc {
    padding-top: 1px;
  }
}
