.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 34px;
  width: 100%;
  padding: 0;
  font-weight: 400;
  line-height: 16px;
  transition: opacity $transition-duration-1s;
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.6;
    text-decoration: none;
    color: inherit;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  .copyright__desc {
    padding-top: 5px;
  }

  .copyright__logo {
    display: block;
    margin-left: 5px;
    height: 34px;
    width: 27px;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    border-top: none;
    width: 154px;
    padding-top: 3px;
    line-height: 1;
    font-size: 20px;
  }

  .copyright__desc {
    padding-top: 1px;
  }

  .copyright__logo {
    margin-top: 10px;
  }
}
