.menu-list {
  @include list-reset ();
  text-align: center;
  font-family: $font-medium;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 35px;
}

.menu-list__link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-yellow;
  }

  &:active,
  &:focus {
    color: $color-yellow-a3;
  }
}

@media (min-width: $tablet-width) {
  .menu-list {
    font-size: 60px;
    text-align: left;
    line-height: 71px;
  }
}

@media (min-width: $desktop-width) {
  .menu-list {
    display: flex;
    line-height: 1;
    font-size: 20px;
  }

  .menu-list__item {
    margin-right: 34px;
  }

  .menu-list__link {
    display: inline-block;
    outline: none;
    height: 20px;
  }
}
