.page-footer {
  position: relative;
  padding-top: 37px;
  padding-bottom: 18px;
  margin-top: -30px;
  background-color: $color-white;
  border-radius: 30px;
}

.page-footer__container {
  @include container();
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logotype {
  margin-bottom: 40px;
}

.page-footer__social {
  padding-right: 1px;
}

.page-footer__copyright {
  position: relative;
  width: 100%;
  margin-top: 49px;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: -14px;
    left: 0;
    background-color: $color-special-blue-grey-light;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 47px;
    padding-bottom: 32px;
    margin-top: -60px;
    border-radius: 60px 60px 0 0;
  }

  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }

  .page-footer__logotype {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .page-footer__social {
    padding-right: 8px;
  }

  .page-footer__copyright {
    flex-shrink: 0;
    width: 162px;
    margin-top: -6px;
    margin-left: 40px;
    padding-left: 8px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 47px;
    padding-bottom: 43px;
  }

  .page-footer__container {
    margin: 0 auto;
    padding-bottom: 0;
  }

  .page-footer__social {
    padding-right: 46px;
  }
}
