.page-main {
  .page-main__directions {
    @include main-block-bottom();
    background-color: $color-blue-dark;

    .page-main__heading {
      @include indents();
      font-size: 36px;
      font-weight: 800;
      color: $color-white;
    }
  }
}
