.page {
  height: 100%;
  box-sizing: border-box;
}

.page__body {
  @include indents();
  min-width: $mobile-width;
  font-family: $font-normal;
  font-weight: 300;
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-image: linear-gradient(to bottom, $color-blue-dark 0, $color-blue-dark 30px, $color-basic-blue-grey 30px, $color-basic-blue-grey 100%);
  color: $color-special-grey;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
