.page-main {
  position: relative;

  .page-main__header {
    @include main-block-bottom();
    background-color: $color-blue-dark;

    .page-main__heading {
      @include indents();
      font-family: $font-bold;
      font-size: 36px;
      line-height: 36px;
      color: $color-white;
    }
  }
}
