.page-header {
  display: flex;
  flex-direction: column;
  background-color: $color-blue-dark;

  .page-header__scroll {
    @include indents();
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 11px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: $color-basic-blue;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 25px;
      height: 3px;
      top: 0;
      background-color: $color-white;
      border-radius: 1.5px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 25px;
      height: 3px;
      top: 8px;
      background-color: $color-white;
      border-radius: 1.5px;
    }
  }
}

.page-header__logo {
  height: 73px;
  padding-top: 27px;
}
