.social-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  &.social-list--header,
  &.social-list--footer {
    @include list-reset ();
  }

  &.social-list--footer {
    .social-list__item {
      margin: 0;
    }

    .social-list__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      background-color: $color-yellow;
      color: $color-basic-blue;
    }
  }

  .social-list__item {
    margin-right: 10px;
    margin-left: 10px;
  }


  .social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 24px;
  }
}

@media (max-width: $tablet-width) {
  .social-list {
    .button-base {
      --button-base-square: 50px;
    }

    &.social-list--footer {
      .button-base {
        --button-base-square: 45px;
      }
    }
  }
}


@media (min-width: $tablet-width) {
  .social-list {
    justify-content: flex-start;

    .social-list__link {
      width: 40px;
      height: 30px;
    }
  }
}
