.button-base {
  $button-base-height: 50px;
  font-family: $font-bold;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: $color-basic-blue-darkest;
  background-color: $color-yellow;
  padding-left: 28px;
  padding-right: 23px;
  border: none;
  outline: none;
  display: inline-block;
  line-height: $button-base-height;
  border-radius: $button-base-height / 2;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $color-yellow-darker;
  }

  &:active,
  &:focus {
    color: $color-blue-a3;
  }
}
