.button-open-all {
  $button-open-all-height: 62px;
  font-family: $font-bold;
  font-weight: 800;
  font-size: 18px;
  color: $color-basic-blue-lighter;
  background-color: $color-yellow;
  padding: 0 23px 0 23px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  border: none;
  outline: none;
  line-height: $button-open-all-height;
  border-radius: $button-open-all-height / 6.2;

  &:hover {
    background-color: $color-special-orange-lightest;
  }

  &:active,
  &:focus {
    color: $color-blue-a3;
  }

  &::before {
    content: "▸";
    display: block;
    position: absolute;
    font-size: 40px;
    border: none;
    right: 23px;
  }
}
