.button-submit {
  background-color: $color-yellow;
  color: $color-basic-blue-lighter;
  width: 60px;
  height: 62px;
  margin-left: -15px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  border-radius: 10px;
  border: none;
  outline: none;
  position: relative;

  &:hover {
    background-color: $color-yellow-darker;
  }

  &:active,
  &:focus {
    color: $color-blue-a3;
  }

  &::before {
    content: "▸";
    display: block;
    position: absolute;
    font-size: 40px;
    border: none;
    right: 11px;
    top: 7px;
  }
}
