.icon-base {
  --icon-size: 45px;
  --icon-base-margin-right: 16px;
  border-radius: 50px;
  height: var(--icon-size);
  width: var(--icon-size);
  display: inline-flex;
  left: 0;
  top: -1px;
  background-color: $color-special-blue-darker;
  margin-right: var(--icon-base-margin-right);
}

@media (min-width: $tablet-width) {
  .icon-base {
    --icon-size: 68px;
    --icon-base-margin-right: 26px;
  }
}

@media (min-width: $desktop-width) {
  .icon-base {
    --icon-size: 90px;
    --icon-base-margin-right: 30px;
  }
}
