.levels--main {
  color: $color-white;
}

.levels--form {
  .levels__number {
    font-family: $font-bold;
    font-size: 38px;
    line-height: 38px;
    color: $color-basic-blue-darkest;
  }

  .levels__number,
  .levels__text {
    @include indents();
  }

  .levels__text {
    font-family: $font-normal;
    font-size: 18px;
    line-height: 18px;
    color: $color-special-grey;
  }
}
